---
import { cn } from '@lib/utils';

interface Props {
  headers: string[];
  rows: string[][];
  highlightCol?: number;
}

const { headers, rows, highlightCol } = Astro.props;
---

<div class="overflow-x-auto -mx-4 sm:mx-0">
  <div class="inline-block min-w-full align-middle">
    <div class="overflow-hidden border border-neutral-200 rounded-xl shadow-sm">
      <table class="min-w-full divide-y divide-neutral-200">
        <thead class="bg-neutral-50 sticky top-0">
          <tr>
            {headers.map((header, index) => (
              <th
                scope="col"
                class={cn(
                  'px-6 py-4 text-left text-sm font-bold text-neutral-900',
                  highlightCol === index && 'bg-primary-50'
                )}
              >
                {header}
              </th>
            ))}
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-neutral-200">
          {rows.map((row) => (
            <tr>
              {row.map((cell, index) => (
                <td
                  class={cn(
                    'px-6 py-4 text-sm text-neutral-600',
                    highlightCol === index && 'bg-primary-50 font-medium'
                  )}
                >
                  {cell}
                </td>
              ))}
            </tr>
          ))}
        </tbody>
      </table>
    </div>
  </div>
</div>
